*{

}

/* common shared style */

body{

    font-family: 'Open Sans', sans-serif;
}

.Primary-color{
    color:#FD6E0A;
}

.Primary-btn{
    background-color: #FD6E0A;
    border-radius: 5px;
    color:#FFF;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    padding: 18px 36px;
    margin-right: 30px;
}

.secoendry-btn{
    background-color: #FFF8F3;
    padding: 18px 36px;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    font-size: 20px;
    font-weight: 700;
}

/* nave related styles */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav > ul{
    display: flex;
    justify-content: center;
    align-items: center; 
}

nav li { 
    list-style: none;
    margin-left: 50px;
}

nav li a{
    color:#474747;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}


/* header related style */
.header{
    background-color:#FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

/* banner related style */

.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 30px 0px 200px;
}

.profile-pic{
    width: 584px;
}

.banner-greeting{
    font-size: 45px;
    color: #474747;
    font-weight: 600;
    margin: 0;
}

.banner-main-title{
    color:#181818;
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description{
    margin-bottom: 30px;
    color: var(--dark-03, #757575);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* Main section related style */
/* Start about section style */
.about-section{

    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 130px 230px;
    padding: 131px 130px;

}

.about-section-container-title{
    text-align: center;
}

.about-description{
    margin: 30px 0px;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    line-height: 5px;
}

.info-title{
    color: #757575;
    font-weight: 200;
    font-size: 15px;
}

.info-description{
    font-weight: 700;
}

